section:nth-child(1) {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,215,219,1) 100%);
}

.arrow {
    font-size: 70px;
}

.ad-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.ad-image img {
    min-width: 115%;
}

.ad-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.ad-content h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.ad-content p {
    line-height: 25px;
    text-align: center;
}

.ad-button {
    background-color: #3db2a1;
    color: white;
    padding: 5px 10px;
    width: 250px;
    border-radius: 10px;
    font-size: 24px;
    border-style: none;
    margin-top: 15px;
}