section:nth-child(4) {
    position: relative;
    background-color: #fffffe;
}

.contact-title {
    padding-top: 10px;
}

.contact-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contact-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 35px;
}

.contact-input {
    display: block;
    padding: 20px 5px;
    min-width: 500px;
    border: 1px solid #3db2a1;
    font-size: 20px;
}

.contact-input-textarea {
    display: block;
    border: 1px solid #3db2a1;
    font-size: 20px;
    resize: none;
    min-width: 500px;
    min-height: 120px;
}

.contact-form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 35px;
    max-width: 400px;
}

.contact-image {
    flex: 0 1 75%;
    max-width: 100%;
}

.shortform {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
}

.shortform-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.contact-check-label {
    display: block;
}

.contact-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.contact-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #3db2a1;
}

.contact-check-label:hover input ~ .contact-checkmark {
    background-color: #fff;
}

.contact-check-label input:checked ~ .contact-checkmark {
    background-color: #fff;
}

.contact-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.contact-check-label input:checked ~ .contact-checkmark:after {
    display: block;
}

.contact-check-label .contact-checkmark:after {
    background: url("../images/form_ok.jpg");
    width: 48px;
    height: 40px;
}

.shortform-text {
    color: #dadada;
    margin-left: 70px;
}

.contact-submit {
    margin-top: 25px;
    background-color: #3db2a1;
    color: white;
    padding: 5px 10px;
    width: 200px;
    border-radius: 8px;
    font-size: 18px;
    border-style: none;
    font-weight: 700;
}

