header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    position: fixed;
    top: 0;
    z-index: -1;
    letter-spacing: 1px;
    padding: 10px 0;
}

header h1 {
    font-size: 14px;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}

.header_menu {
    list-style-type: none;
}

.header_menu li {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    font-size: 14px;
}

.header_menu li:first-child {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    background-color: black;
    padding: 5px 0;
    left: 0;
    margin-top: 20px;
    font-weight: 400;
    text-transform: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.dropdown-triangle {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 9px 8px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -8px;
    left: 50px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.header_menu li:first-child:hover .dropdown, .dropdown-triangle {
    opacity: 1;
}