* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

main {
    margin-top: 50px;
}

.centering-container {
    width: 1063px;
    margin: 0 auto;
}

.blue-font {
    color: darkturquoise;
}

.underline {
    position: relative;
}

.underline:after {
    position: absolute;
    display: block;
    content: '';
    width: 150px;
    height: 5px;
    top: 100%;
    background-color: darkturquoise;
    border-radius: 5px;
}