* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    position: fixed;
    top: 0;
}

header h1 {
    font-size: 15px;
}

.centering-container {
    width: 1063px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.header_menu {
    list-style-type: none;
}

.header_menu li {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.blue-font {
    color: darkturquoise;
}

.header_menu li:first-child {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

.dropdown {
    position: absolute;
    background-color: black;
    padding: 5px 10px;
    left: -15px;
    margin-top: 30px;
}

.dropdown::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -12px;
    right: 65px;
}

main {
    margin-top: 50px;
}

.arrow:first-child {
    font-size: 55px;
    padding-left: 25px;
}

.arrow:last-child {
    font-size: 55px;
    padding-right: 25px;
}

.article1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: linear-gradient(to bottom, rgba(184,184,184,1) 0%, rgba(168,168,168,1) 49%, rgba(179,179,179,1) 50%, rgba(184,184,184,1) 100%);
    padding: 25px;
}

.article1-image {
    flex: 0 1 200px;
}

.article1-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.article1-content h4 {
    font-size: 30px;
    font-weight: 400;
}

.article1-content p {
    line-height: 30px;
}

.article1_button {
    background-color: darkturquoise;
    color: white;
    padding: 5px 10px;
    width: 250px;
    border-radius: 10px;
    font-size: 24px;
}

.article2-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    height: 300px;
}

.article2-image {
    flex: 0 1 200px;
    padding: 0 20px;
    position: relative;
}

.underline {
    position: relative;
}

.article2-image-item {
    position: absolute;
    display: block;
    content: '';
    width: 329px;
    height: 50px;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    padding-top: 20px;
}

.underline:after {
    position: absolute;
    display: block;
    content: '';
    width: 150px;
    height: 5px;
    top: 100%;
    background-color: darkturquoise;
    border-radius: 5px;
}

.article2-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
    position: relative;
    padding: 10px;
}

.article2-content p {
    padding: 10px;
}